// https://bulma.io/documentation/customize/with-sass/
@use 'bulma/sass/utilities/initial-variables' as iv;
@use 'bulma/sass' with (
  $primary: #101046,
  $text: iv.$black-ter,
  $container-max-width: 1000px + (2 * iv.$gap),
  $navbar-breakpoint: iv.$tablet,
  $navbar-height: 3.5rem,
  $navbar-item-hover-background-l-delta: 0%
);
@use 'bulma/sass/utilities/mixins' as mx;

// to make the cards have equal height
.card {
  height: 100%;
  min-width: 12rem;
}

// to adjust the size of navbar logo image
.navbar-brand {
  height: var(--bulma-navbar-height);

  * {
    color: var(--bulma-primary);
  }

  .navbar-item {
    @include mx.mobile {
      max-width: 75vw;
    }
  }
}

// to make the image height consistent in the user-determined content
.content img {
  width: 100%;
  height: auto;
  @include mx.tablet {
    width: auto;
    max-height: 20rem;
  }
}

.tag {
  text-decoration: none !important;
}
